* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
        text-decoration: none;
        color: black;
        border: solid gray 1px;
}
header {

    margin-top: 2rem;
    margin-bottom: 4rem;
}

form {
    width: max-content;
    margin: 0 auto;
}

.table {
    position: relative;
	width: 1000px;
	margin: auto;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	text-align: center;
}

.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}

.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.inpt {
    margin: auto;
    width: 300px;
    height: 40px;
}